<!DOCTYPE html>
<html>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" 
        integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" 
        crossorigin="anonymous"></script>
	<meta charset="UTF-8">
	<title>Tetris03</title>
	
	
	<script type="text/javascript">
	
		class Block {
			constructor(status, type, i, j){
				this.status = status;
				this.type   = type;
				this.i      = i;
				this.j      = j;
			}
		}
		
		var flag_ing = false;
		var block = new Block(0, 2, 2, 4);
		
		var scrin2D = 
		[
			[0, 0, 0, 0, 0,  0, 0, 0, 0, 0],	
			[0, 0, 0, 0, 0,  0, 0, 0, 0, 0],	
			[0, 0, 0, 0, 0,  0, 0, 0, 0, 0],	
			[0, 0, 0, 0, 0,  0, 0, 0, 0, 0],	
			[0, 0, 0, 0, 0,  0, 0, 0, 0, 0],

			[0, 0, 0, 0, 0,  0, 0, 0, 0, 0],
			[0, 0, 0, 0, 0,  0, 0, 0, 0, 0],
			[0, 0, 0, 0, 0,  0, 0, 0, 0, 0],
			[0, 0, 0, 0, 0,  0, 0, 0, 0, 0],
			[0, 0, 0, 0, 0,  0, 0, 0, 0, 0],
			
			[0, 0, 0, 0, 0,  0, 0, 0, 0, 0],
			[0, 0, 0, 0, 0,  0, 0, 0, 0, 0],
			[0, 0, 0, 0, 0,  0, 0, 0, 0, 0],
			[0, 0, 0, 0, 0,  0, 0, 0, 0, 0],
			[0, 0, 0, 0, 0,  0, 0, 0, 0, 0],
			
			[0, 0, 0, 0, 0,  0, 0, 0, 0, 0],
			[0, 0, 0, 0, 0,  0, 0, 0, 0, 0],
			[0, 0, 0, 0, 0,  0, 0, 0, 0, 0],
			[0, 0, 0, 0, 0,  0, 0, 0, 0, 0],
			[0, 0, 0, 0, 0,  0, 0, 0, 0, 0],
			
			[0, 0, 0, 0, 0,  0, 0, 0, 0, 0],
			[0, 0, 0, 0, 0,  0, 0, 0, 0, 0],
			[0, 0, 0, 0, 0,  0, 0, 0, 0, 0],
			[0, 0, 0, 0, 0,  0, 0, 0, 0, 0],
			[0, 0, 0, 0, 0,  0, 0, 0, 0, 0]
		];
		var stack2D = 
		[
			[0, 0, 0, 0, 0,  0, 0, 0, 0, 0],	
			[0, 0, 0, 0, 0,  0, 0, 0, 0, 0],	
			[0, 0, 0, 0, 0,  0, 0, 0, 0, 0],	
			[0, 0, 0, 0, 0,  0, 0, 0, 0, 0],	
			[0, 0, 0, 0, 0,  0, 0, 0, 0, 0],

			[0, 0, 0, 0, 0,  0, 0, 0, 0, 0],
			[0, 0, 0, 0, 0,  0, 0, 0, 0, 0],
			[0, 0, 0, 0, 0,  0, 0, 0, 0, 0],
			[0, 0, 0, 0, 0,  0, 0, 0, 0, 0],
			[0, 0, 0, 0, 0,  0, 0, 0, 0, 0],
			
			[0, 0, 0, 0, 0,  0, 0, 0, 0, 0],
			[0, 0, 0, 0, 0,  0, 0, 0, 0, 0],
			[0, 0, 0, 0, 0,  0, 0, 0, 0, 0],
			[0, 0, 0, 0, 0,  0, 0, 0, 0, 0],
			[0, 0, 0, 0, 0,  0, 0, 0, 0, 0],
			
			[0, 0, 0, 0, 0,  0, 0, 0, 0, 0],
			[0, 0, 0, 0, 0,  0, 0, 0, 0, 0],
			[0, 0, 0, 0, 0,  0, 0, 0, 0, 0],
			[0, 0, 0, 0, 0,  0, 0, 0, 0, 0],
			[0, 0, 0, 0, 0,  0, 0, 0, 0, 0],
			
			[0, 0, 0, 0, 0,  0, 0, 0, 0, 0],
			[11, 11, 11, 11, 11,  0, 11, 11, 11, 11],
			[11, 11, 11, 11, 11,  0, 11, 11, 11, 11],
			[11, 11, 11, 11, 11,  0, 11, 11, 11, 11],
			[11, 11, 11, 11, 11,  0, 11, 11, 11, 11]
		];
		var block2D = 
		[
			[0, 0, 0, 0, 0,  0, 0, 0, 0, 0],	
			[0, 0, 0, 0, 0,  0, 0, 0, 0, 0],	
			[0, 0, 0, 0, 0,  0, 0, 0, 0, 0],	
			[0, 0, 0, 0, 0,  0, 0, 0, 0, 0],	
			[0, 0, 0, 0, 0,  0, 0, 0, 0, 0],

			[0, 0, 0, 0, 0,  0, 0, 0, 0, 0],
			[0, 0, 0, 0, 0,  0, 0, 0, 0, 0],
			[0, 0, 0, 0, 0,  0, 0, 0, 0, 0],
			[0, 0, 0, 0, 0,  0, 0, 0, 0, 0],
			[0, 0, 0, 0, 0,  0, 0, 0, 0, 0],
			
			[0, 0, 0, 0, 0,  0, 0, 0, 0, 0],
			[0, 0, 0, 0, 0,  0, 0, 0, 0, 0],
			[0, 0, 0, 0, 0,  0, 0, 0, 0, 0],
			[0, 0, 0, 0, 0,  0, 0, 0, 0, 0],
			[0, 0, 0, 0, 0,  0, 0, 0, 0, 0],
			
			[0, 0, 0, 0, 0,  0, 0, 0, 0, 0],
			[0, 0, 0, 0, 0,  0, 0, 0, 0, 0],
			[0, 0, 0, 0, 0,  0, 0, 0, 0, 0],
			[0, 0, 0, 0, 0,  0, 0, 0, 0, 0],
			[0, 0, 0, 0, 0,  0, 0, 0, 0, 0],
			
			[0, 0, 0, 0, 0,  0, 0, 0, 0, 0],
			[0, 0, 0, 0, 0,  0, 0, 0, 0, 0],
			[0, 0, 0, 0, 0,  0, 0, 0, 0, 0],
			[0, 0, 0, 0, 0,  0, 0, 0, 0, 0],
			[0, 0, 0, 0, 0,  0, 0, 0, 0, 0]
		];
		
		function setBlock2DFromBlock(){
			if(block.type == 1){
				if(block.status == 0){
					block2D[block.i    ][block.j    ] = block.type;		
					block2D[block.i + 1][block.j    ] = block.type;		
					block2D[block.i    ][block.j + 1] = block.type;		
					block2D[block.i + 1][block.j + 1] = block.type;		
				}
			}
			
			if(block.type == 2){
				if(block.status == 0){
					block2D[block.i    ][block.j    ] = block.type;
					block2D[block.i - 1][block.j    ] = block.type;
					block2D[block.i + 1][block.j    ] = block.type;
					block2D[block.i + 2][block.j    ] = block.type;
				}
				if(block.status == 1){
					block2D[block.i    ][block.j    ] = block.type;
					block2D[block.i    ][block.j - 1] = block.type;
					block2D[block.i    ][block.j + 1] = block.type;
					block2D[block.i    ][block.j + 2] = block.type;
				}
			}
			
			if(block.type == 3){
				if(block.status == 0){
					block2D[block.i    ][block.j    ] = block.type;	
					block2D[block.i    ][block.j - 1] = block.type;	
					block2D[block.i + 1][block.j    ] = block.type;	
					block2D[block.i + 1][block.j + 1] = block.type;	
				}
				if(block.status == 1){
					block2D[block.i    ][block.j    ] = block.type;	
					block2D[block.i - 1][block.j    ] = block.type;	
					block2D[block.i    ][block.j - 1] = block.type;	
					block2D[block.i + 1][block.j - 1] = block.type;	
				}
			}
			
			if(block.type == 4){
				if(block.status == 0){
					block2D[block.i    ][block.j    ] = block.type;
					block2D[block.i    ][block.j + 1] = block.type;
					block2D[block.i + 1][block.j    ] = block.type;
					block2D[block.i + 1][block.j - 1] = block.type;
				}
				if(block.status == 1){
					block2D[block.i    ][block.j    ] = block.type;
					block2D[block.i    ][block.j - 1] = block.type;
					block2D[block.i - 1][block.j - 1] = block.type;
					block2D[block.i + 1][block.j    ] = block.type;
				}
			}
			
			if(block.type == 5){
				if(block.status == 0){
					block2D[block.i    ][block.j    ] = block.type;
					block2D[block.i    ][block.j - 1] = block.type;
					block2D[block.i    ][block.j + 1] = block.type;
					block2D[block.i + 1][block.j + 1] = block.type;
				}
				if(block.status == 1){
					block2D[block.i    ][block.j    ] = block.type;
					block2D[block.i - 1][block.j    ] = block.type;
					block2D[block.i + 1][block.j    ] = block.type;
					block2D[block.i + 1][block.j - 1] = block.type;
				}
				if(block.status == 2){
					block2D[block.i    ][block.j    ] = block.type;
					block2D[block.i - 1][block.j - 1] = block.type;
					block2D[block.i    ][block.j - 1] = block.type;
					block2D[block.i    ][block.j + 1] = block.type;
				}
				if(block.status == 3){
					block2D[block.i    ][block.j    ] = block.type;
					block2D[block.i - 1][block.j    ] = block.type;
					block2D[block.i - 1][block.j + 1] = block.type;
					block2D[block.i + 1][block.j    ] = block.type;
				}
			}
			
			if(block.type == 6){
				if(block.status == 0){
					block2D[block.i    ][block.j    ] = block.type;
					block2D[block.i    ][block.j - 1] = block.type;
					block2D[block.i + 1][block.j - 1] = block.type;
					block2D[block.i    ][block.j + 1] = block.type;
				}
				if(block.status == 1){
					block2D[block.i    ][block.j    ] = block.type;
					block2D[block.i - 1][block.j - 1] = block.type;
					block2D[block.i - 1][block.j    ] = block.type;
					block2D[block.i + 1][block.j    ] = block.type;
				}
				if(block.status == 2){
					block2D[block.i    ][block.j    ] = block.type;
					block2D[block.i    ][block.j - 1] = block.type;
					block2D[block.i    ][block.j + 1] = block.type;
					block2D[block.i - 1][block.j + 1] = block.type;
				}
				if(block.status == 3){
					block2D[block.i    ][block.j    ] = block.type;
					block2D[block.i - 1][block.j    ] = block.type;
					block2D[block.i + 1][block.j    ] = block.type;
					block2D[block.i + 1][block.j + 1] = block.type;
				}
			}
			
			if(block.type == 7){
				if(block.status == 0){
					block2D[block.i    ][block.j    ] = block.type;
					block2D[block.i - 1][block.j    ] = block.type;
					block2D[block.i    ][block.j - 1] = block.type;
					block2D[block.i    ][block.j + 1] = block.type;
				}
				if(block.status == 1){
					block2D[block.i    ][block.j    ] = block.type;
					block2D[block.i - 1][block.j    ] = block.type;
					block2D[block.i    ][block.j + 1] = block.type;
					block2D[block.i + 1][block.j    ] = block.type;
				}
				if(block.status == 2){
					block2D[block.i    ][block.j    ] = block.type;
					block2D[block.i    ][block.j - 1] = block.type;
					block2D[block.i + 1][block.j    ] = block.type;
					block2D[block.i    ][block.j + 1] = block.type;
				}
				if(block.status == 3){
					block2D[block.i    ][block.j    ] = block.type;
					block2D[block.i - 1][block.j    ] = block.type;
					block2D[block.i    ][block.j - 1] = block.type;
					block2D[block.i + 1][block.j    ] = block.type;		
				}
			}
		}
		
		function moveBlock2DToScrin2D(){
			for(var i = 0; i < block2D.length; i++){
				for(var j = 0; j < block2D[i].length; j++){
					if(block2D[i][j] > 0){
						scrin2D[i][j] = block2D[i][j]; 
					}
				}	
			}
		}
		
		function moveStack2DToScrin2D(){
			for(var i = 0; i < stack2D.length; i++){
				for(var j = 0; j < stack2D[i].length; j++){
					if(stack2D[i][j] > 0){
						scrin2D[i][j] = stack2D[i][j]; 
					}
				}	
			}
		}
		
		function myRender(){
			var tds = document.getElementsByClassName('mytd');
			 
			for(var i = 0; i < scrin2D.length; i++){
				for(var j = 0; j < scrin2D[i].length; j++){
					if(scrin2D[i][j] == 0){
						tds[(i * 10) + j].style.background = "#F6F6F6";
					}
					if(scrin2D[i][j] == 1){
						tds[(i * 10) + j].style.background = "#FFA7A7";
					}
					if(scrin2D[i][j] == 2){
						tds[(i * 10) + j].style.background = "#FFE08C";
					}
					if(scrin2D[i][j] == 3){
						tds[(i * 10) + j].style.background = "#FAED7D";
					}
					if(scrin2D[i][j] == 4){
						tds[(i * 10) + j].style.background = "#B7F0B1";
					}
					if(scrin2D[i][j] == 5){
						tds[(i * 10) + j].style.background = "#B2CCFF";
					}
					if(scrin2D[i][j] == 6){
						tds[(i * 10) + j].style.background = "#B5B2FF";
					}
					if(scrin2D[i][j] == 7){
						tds[(i * 10) + j].style.background = "#D1B2FF";
					}
					
					if(scrin2D[i][j] == 11){
						tds[(i * 10) + j].style.background = "#F15F5F";
					}
					if(scrin2D[i][j] == 12){
						tds[(i * 10) + j].style.background = "#F2CB61";
					}
					if(scrin2D[i][j] == 13){
						tds[(i * 10) + j].style.background = "#E5D85C";
					}
					if(scrin2D[i][j] == 14){
						tds[(i * 10) + j].style.background = "#86E57F";
					}
					if(scrin2D[i][j] == 15){
						tds[(i * 10) + j].style.background = "#6799FF";
					}
					if(scrin2D[i][j] == 16){
						tds[(i * 10) + j].style.background = "#6B66FF";
					}
					if(scrin2D[i][j] == 17){
						tds[(i * 10) + j].style.background = "#A566FF";
					}
				}
			}
		}
		
		window.addEventListener("keydown", (e) => {
			myClick(e.key);
		});
		
		function myClick(key){
			if(!flag_ing){
				return;
			}	
			var bak_i = block.i;
			var bak_j = block.j;
			var bak_s = block.status;
			
			if(key == "ArrowDown"){
				block.i++;
			}
			if(key == "ArrowLeft"){
				block.j--;
			}
			if(key == "ArrowRight"){
				block.j++;
			}
			if(key == "ArrowUp"){
				changeStatus();
			}
			if(key == " "){
				block.i += 9;
			}
			setZero(block2D);
			
			var flag_crush_bottom = false;
			try {
				setBlock2DFromBlock();
			} catch(err) {
				flag_crush_bottom = true;				
			}
			//console.log("flag_crush_bottom", flag_crush_bottom);
			var flag_crush = isCrushed();
			//console.log("flag_crush", flag_crush);
			if(flag_crush == true || flag_crush_bottom == true){
				block.i      = bak_i;
				block.j      = bak_j;
				block.status = bak_s;
				setZero(block2D);
				setBlock2DFromBlock();
				
				if(key == "ArrowDown"){
					moveBlock2DToStack2D();
					
					block.status = 0;
					block.type = parseInt(Math.random() * 7 + 1);
					block.i = 2;
					block.j = 4;
											
					var cnt10 = getCnt10();
					
					var gameCnt = document.getElementById("my_remain").value;
					gameCnt -= cnt10;
					document.getElementById("my_remain").value = gameCnt;
					if(gameCnt <= 0){
						send_finish();
						alert("You Win!");
						flag_ing = false;
						setZero(scrin2D);
						setZero(block2D);
						setZero(stack2D);
					}
					
					remove10(cnt10);
					if(stack2D[4][0] > 0 || stack2D[4][1] > 0 || 
					   stack2D[4][2] > 0 || stack2D[4][3] > 0 || 
					   stack2D[4][4] > 0 || stack2D[4][5] > 0 || 
					   stack2D[4][6] > 0 || stack2D[4][7] > 0 || 
					   stack2D[4][8] > 0 || stack2D[4][9] > 0){
						alert("You Lose!");
						flag_ing = false;
					}
					
					if(flag_ing){
						setZero(block2D);
						setBlock2DFromBlock();
					}
				}
			}
			
			setZero(scrin2D);
			moveBlock2DToScrin2D();
			moveStack2DToScrin2D();
			console.log(scrin2D + "");
			send_display();
			myRender();

		}
		
		function remove10(cnt10){
			var imsi = [];
			
			for(var i = 0; i < stack2D.length; i++){
				if(stack2D[i][0] > 0 && stack2D[i][1] > 0 && 
				   stack2D[i][2] > 0 && stack2D[i][3] > 0 && 
				   stack2D[i][4] > 0 && stack2D[i][5] > 0 && 
				   stack2D[i][6] > 0 && stack2D[i][7] > 0 && 
				   stack2D[i][8] > 0 && stack2D[i][9] > 0){
					/* stack2D.splice(i, 1);
					stack2D.unshift([0, 0, 0, 0, 0,  0, 0, 0, 0, 0]); */
				}else{
					imsi.push(stack2D[i] + "");
				}
			}
			
			for(var i = 0; i < cnt10; i++){
				imsi.unshift([0, 0, 0, 0, 0,  0, 0, 0, 0, 0] + "");
			}
			
			for(var i = 0; i < 25; i++){
				var line = imsi[i];
				var line_arr = line.split(",");
				stack2D[i][0] = parseInt(line_arr[0]);
				stack2D[i][1] = parseInt(line_arr[1]);
				stack2D[i][2] = parseInt(line_arr[2]);
				stack2D[i][3] = parseInt(line_arr[3]);
				stack2D[i][4] = parseInt(line_arr[4]);
			           
				stack2D[i][5] = parseInt(line_arr[5]);
				stack2D[i][6] = parseInt(line_arr[6]);
				stack2D[i][7] = parseInt(line_arr[7]);
				stack2D[i][8] = parseInt(line_arr[8]);
				stack2D[i][9] = parseInt(line_arr[9]);
			}
			//console.log(stack2D);
		}
		
		function getCnt10(){
			var cnt = 0;
			
			for(var i = 0; i < stack2D.length; i++){
				if(stack2D[i][0] > 0 && stack2D[i][1] > 0 && 
				   stack2D[i][2] > 0 && stack2D[i][3] > 0 && 
				   stack2D[i][4] > 0 && stack2D[i][5] > 0 && 
				   stack2D[i][6] > 0 && stack2D[i][7] > 0 && 
				   stack2D[i][8] > 0 && stack2D[i][9] > 0){
					cnt++;
				}	
			}
			return cnt;
		}
		
		function moveBlock2DToStack2D(){
			for(var i = 0; i < block2D.length; i++){
				for(var j = 0; j < block2D[i].length; j++){
					if(block2D[i][j] > 0){
						stack2D[i][j] = block2D[i][j] + 10;
					}
				}	
			}
		}
		
		function isCrushed(){
			var cnt4 = 0;
			
			for(var i = 0; i < 25; i++){
				for(var j = 0; j < 10; j++){
					if(block2D[i][j] > 0){
						cnt4++;
					}
				}
			}
			if(cnt4 < 4){
				return true;
			}
			
			for(var i = 0; i < 25; i++){
				for(var j = 0; j < 10; j++){
					if(block2D[i][j] > 0 && stack2D[i][j] > 0){
						return true;
					}
				}
			}
			
			return false;
		}
		
		function changeStatus(){
			if(block.type == 2 || block.type == 3 || block.type == 4){
				if(block.status == 0){
					block.status = 1;
				}else if(block.status == 1){
					block.status = 0;	
				}
			}
			if(block.type == 5 || block.type == 6 || block.type == 7){
				if(block.status == 0){
					block.status = 1;
				}else if(block.status == 1){
					block.status = 2;
				}else if(block.status == 2){
					block.status = 3;
				}else if(block.status == 3){
					block.status = 0;
				}
			}
		}
		
		function setZero(arr2D){
			for(var i = 0; i < arr2D.length; i++){
				for(var j = 0; j < arr2D[i].length; j++){
					arr2D[i][j] = 0;
				}
			}
		}
	</script>
	<style>
		#myTable{
			border-collapse : collapse;
			width : 300px;
			height : 700px;
			background : #F6F6F6;
		}
		.user_canvas{
			width : 81px;
			height : 201px;
		}
	</style>
</head>
<body>
	<table border="1"  style="border-collapse:collapse;">
		<tr>
			<td>
				남은 개수 <input type="text" id="my_remain" value="100" style="width:18px;" readonly>
				이름 <input type="text" id="my_name" style="width:45px;">
				<input type="button" value="ready" style="width:45px;" onclick="send_ready()">
				<input type="button" value="start" style="width:45px;" onclick="send_start()">
				<br>
				<table id="myTable" border="1">
					<tr>
						<td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td>
						<td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td>
					</tr>
					<tr>
						<td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td>
						<td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td>
					</tr>
					<tr>
						<td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td>
						<td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td>
					</tr>
					<tr>
						<td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td>
						<td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td>
					</tr>
					<tr>
						<td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td>
						<td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td>
					</tr>
					<tr>
						<td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td>
						<td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td>
					</tr>
					<tr>
						<td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td>
						<td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td>
					</tr>
					<tr>
						<td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td>
						<td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td>
					</tr>
					<tr>
						<td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td>
						<td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td>
					</tr>
					<tr>
						<td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td>
						<td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td>
					</tr>
					<tr>
						<td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td>
						<td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td>
					</tr>
					<tr>
						<td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td>
						<td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td>
					</tr>
					<tr>
						<td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td>
						<td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td>
					</tr>
					<tr>
						<td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td>
						<td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td>
					</tr>
					<tr>
						<td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td>
						<td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td>
					</tr>
					<tr>
						<td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td>
						<td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td>
					</tr>
					<tr>
						<td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td>
						<td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td>
					</tr>
					<tr>
						<td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td>
						<td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td>
					</tr>
					<tr>
						<td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td>
						<td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td>
					</tr>
					<tr>
						<td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td>
						<td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td>
					</tr>
					<tr>
						<td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td>
						<td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td>
					</tr>
					<tr>
						<td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td>
						<td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td>
					</tr>
					<tr>
						<td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td>
						<td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td>
					</tr>
					<tr>
						<td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td>
						<td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td>
					</tr>
					<tr>
						<td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td>
						<td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td><td class="mytd">&nbsp;</td>
					</tr>
				</table>
			</td>
			<td>
				<table border="1" style="border-collapse:collapse;">
					<tr>
						<td><span class="user_name">&nbsp;</span><span class="user_score"></span></td>
						<td><span class="user_name"></span><span class="user_score"></span></td>
						<td><span class="user_name"></span><span class="user_score"></span></td>
						<td><span class="user_name"></span><span class="user_score"></span></td>

						<td><span class="user_name"></span><span class="user_score"></span></td>
						<td><span class="user_name"></span><span class="user_score"></span></td>
						<td><span class="user_name"></span><span class="user_score"></span></td>
						<td><span class="user_name"></span><span class="user_score"></span></td>						
					</tr>
					<tr>
						<td><canvas class="user_canvas"></canvas></td>
						<td><canvas class="user_canvas"></canvas></td>
						<td><canvas class="user_canvas"></canvas></td>
						<td><canvas class="user_canvas"></canvas></td>

						<td><canvas class="user_canvas"></canvas></td>
						<td><canvas class="user_canvas"></canvas></td>
						<td><canvas class="user_canvas"></canvas></td>
						<td><canvas class="user_canvas"></canvas></td>
					</tr>
					<tr>
						<td><span class="user_name">&nbsp;</span><span class="user_score"></span></td>
						<td><span class="user_name"></span><span class="user_score"></span></td>
						<td><span class="user_name"></span><span class="user_score"></span></td>
						<td><span class="user_name"></span><span class="user_score"></span></td>

						<td><span class="user_name"></span><span class="user_score"></span></td>
						<td><span class="user_name"></span><span class="user_score"></span></td>
						<td><span class="user_name"></span><span class="user_score"></span></td>
						<td><span class="user_name"></span><span class="user_score"></span></td>						
					</tr>
					<tr>
						<td><canvas class="user_canvas"></canvas></td>
						<td><canvas class="user_canvas"></canvas></td>
						<td><canvas class="user_canvas"></canvas></td>
						<td><canvas class="user_canvas"></canvas></td>

						<td><canvas class="user_canvas"></canvas></td>
						<td><canvas class="user_canvas"></canvas></td>
						<td><canvas class="user_canvas"></canvas></td>
						<td><canvas class="user_canvas"></canvas></td>
					</tr>
					<tr>
						<td><span class="user_name">&nbsp;</span><span class="user_score"></span></td>
						<td><span class="user_name"></span><span class="user_score"></span></td>
						<td><span class="user_name"></span><span class="user_score"></span></td>
						<td><span class="user_name"></span><span class="user_score"></span></td>

						<td><span class="user_name"></span><span class="user_score"></span></td>
						<td><span class="user_name"></span><span class="user_score"></span></td>
						<td><span class="user_name"></span><span class="user_score"></span></td>
						<td><span class="user_name"></span><span class="user_score"></span></td>						
					</tr>
					<tr>
						<td><canvas class="user_canvas"></canvas></td>
						<td><canvas class="user_canvas"></canvas></td>
						<td><canvas class="user_canvas"></canvas></td>
						<td><canvas class="user_canvas"></canvas></td>

						<td><canvas class="user_canvas"></canvas></td>
						<td><canvas class="user_canvas"></canvas></td>
						<td><canvas class="user_canvas"></canvas></td>
						<td><canvas class="user_canvas"></canvas></td>
					</tr>
				</table>
			</td>		
		</tr>
	</table>
	
	<script type="text/javascript">
		var socket = io.connect('http://192.168.43.144:5000');
		
		// 서버 접속
		socket.on('connect', function(){
			socket.emit('my event', {
				data : 'User Connected'
			})
		})
		
		// 받은 메시지
		socket.on('my response', function(msg){
			console.log(msg);
			
			if(msg.command == "c_ready"){
				fn_merge_name(msg.user_name);	
			}
			if(msg.command == "c_start"){
				flag_ing = true;
			}
			if(msg.command == "c_display"){
				fn_display(msg.user_name, msg.user_score, msg.user_scrin);
			}
			if(msg.command == "c_finish"){
				alert(msg.user_name + "이/가 이겼습니다.");
				flag_ing = false;
			}
		})
		
		var user_names = [];
		function fn_merge_name(user_name){
			var flag_exist = false;
			for(var i = 0; i < user_names.length; i++){
				if(user_names[i] == user_name){
					flag_exist = true;
					break;
				}
			}
			if(!flag_exist){
				user_names.push(user_name);
			}
			
			var objs_nm = document.getElementsByClassName("user_name");
			
			for(var i = 0; i < user_names.length; i++){
				objs_nm[i].innerHTML = user_names[i];
			}
		}
		
		function fn_display(user_name, user_score, user_scrin){
			var idx_scrin = -1;
			var objs_nm = document.getElementsByClassName("user_name");
			var objs_sc = document.getElementsByClassName("user_score");
			var objs_cv = document.getElementsByClassName("user_canvas");
			
			for(var i = 0; i < user_names.length; i++){
				if(objs_nm[i].innerHTML == user_name){
					idx_scrin = i;
					break;
				}
			}
			
			objs_sc[idx_scrin].innerHTML = user_score;
			
			var str_data = user_scrin;
			var canvas = objs_cv[idx_scrin];
			var ctx = canvas.getContext('2d');
			
			var arr_data = str_data.split(",");
			
			for(var i = 0; i < 25; i++){
				for(var j = 0; j < 10; j++){
					if(arr_data[i * 10 + j] == "0") ctx.fillStyle = "#F6F6F6";
					if(arr_data[i * 10 + j] == "1") ctx.fillStyle = "#FFA7A7";
					if(arr_data[i * 10 + j] == "2") ctx.fillStyle = "#FFE08C";
					if(arr_data[i * 10 + j] == "3") ctx.fillStyle = "#FAED7D";
					if(arr_data[i * 10 + j] == "4") ctx.fillStyle = "#B7F0B1";
					if(arr_data[i * 10 + j] == "5") ctx.fillStyle = "#B2CCFF";
					if(arr_data[i * 10 + j] == "6") ctx.fillStyle = "#B5B2FF";
					if(arr_data[i * 10 + j] == "7") ctx.fillStyle = "#D1B2FF";
					
					if(arr_data[i * 10 + j] == "11") ctx.fillStyle = "#F15F5F";
					if(arr_data[i * 10 + j] == "12") ctx.fillStyle = "#F2CB61";
					if(arr_data[i * 10 + j] == "13") ctx.fillStyle = "#E5D85C";
					if(arr_data[i * 10 + j] == "14") ctx.fillStyle = "#86E57F";
					if(arr_data[i * 10 + j] == "15") ctx.fillStyle = "#6799FF";
					if(arr_data[i * 10 + j] == "16") ctx.fillStyle = "#6B66FF";
					if(arr_data[i * 10 + j] == "17") ctx.fillStyle = "#A566FF";
					
					ctx.fillRect(j * 30, i * 6, 29, 5);
				}
			}
		}
		
		function send_finish(){
			var user_name = $('#my_name').val();
			socket.emit('my event', {
				command    : "c_finish",
				user_name  : user_name
			})
		}
		
		function send_display(){
			var user_name = $('#my_name').val();
			var user_score = $('#my_remain').val();
			var user_scrin = scrin2D + "";
			socket.emit('my event', {
				command    : "c_display",
				user_name  : user_name,
				user_score : user_score,
				user_scrin : user_scrin
			})
		}
		
		function send_ready(){
			var user_name = $('#my_name').val();
			socket.emit('my event', {
				command   : "c_ready",
				user_name : user_name
			})
		}
		
		function send_start(){
			var user_name = $('#my_name').val();
			socket.emit('my event', {
				command   : "c_start",
				user_name : user_name
			})
		}
	</script>
</body>
</html>